body {
    background: #000 url('img/bg.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
        '. h .'
        '. s .'
        'i i i';
}

.bb-logo {
    grid-area: h;
    border: 2px green solid;
}

.search-bar {
    grid-area: s;
}

.card {
    grid-area: i;
    width: 300px;
    border: 2px blue solid;
}
